
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Produit</h1>

<f:flashMessages />




<div  class="tx_catalogueslg" >
	<f:for each="{produits}" as="produit">


	<div class="card col-sm-12 col-md-6" >
		<f:image image="{produit.image}"  class="card-img-top" width="150px"/>
		<div class="card-block">
			<h4 class="card-title">
				<f:link.action action="show" arguments="{Produit : produit}"> {produit.nom}</f:link.action>
			</h4>
			<p class="card-text">
				<f:format.html> {produit.description} </f:format.html>
			</p>
			   <div class="card-footer text-muted">
			    {produit.dateSortie -> f:format.date()}
			  </div>
		</div>
	</div>


	</f:for>

	<div class="column col-sm-12">
<f:link.action action="new">New Produit</f:link.action>
</div>
</div>

</f:section>