
<table class="tx-catalogue-slg" >
	<tr>
		<td>
			<f:translate key="tx_catalogueslg_domain_model_categorie.nom" />
		</td>
		<td>
		{categorie.nom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_catalogueslg_domain_model_categorie.description" />
		</td>
		<td>
		{categorie.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_catalogueslg_domain_model_categorie.image" />
		</td>
		<td>
				<f:image src="{categorie.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>