
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Marchand</h1>

<f:flashMessages />

<div  class="tx_catalogueslg" >
	<f:for each="{marchands}" as="marchand">


	<div class="card col-sm-12 col-md-6" >
		<f:image image="{marchand.image}"  class="card-img-top" width="150px"/>
		<div class="card-block">
			<h4 class="card-title">
				<f:link.action action="show" arguments="{marchand : marchand}"> {marchand.nom} | {marchand.email}</f:link.action>
			</h4>
			<p class="card-text">
				<f:format.html> {marchand.telephone} </f:format.html>
			</p>
			<p class="card-text">
				<f:format.html> {marchand.adresse}, {marchand.codePostal} {marchand.ville} </f:format.html>
			</p>
			 <a href="http://{marchand.site}" class="card-link">{marchand.site}</a>
		</div>
	</div>


	</f:for>
</div>

<f:link.action action="new">New Marchand</f:link.action>
</f:section>